h1 {
    justify-content: center;
    display: flex;
}


body {
    margin: 0;
    box-sizing: border-box;
    background-color: beige;
}

.animals {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 30px;
    margin: 10px;
    flex-direction: column;
    
}

img {
    width: 300px;
    height: auto;
}

.Bears, .Giraffes, .Lions, .Monkeys, .Alligators {
    border: 2px  solid black;
    background-color: aqua;
}